<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo"><h5>Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></h5></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li><div class="user-view">
            <div class="background">
                <img src="/img/pexels-photo-1018048.jpeg" width="300px" height="160px">
            </div>
                <a href="#user"><img class="circle" src="/img/Pic of Myself JBA for Profile.jpg"></a>
                <a href="#name"><span class="grey-text text-darken-4 name">Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></span></a>
                <a href="#email"><span class="grey-text text-darken-4 email">jbayonke@hotmail.com</span></a>
            </div></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

<main>
    <div class="container">
        <div class="col s12 m6 l6 xl6">
            <h2 class="header AboutMe animated fadeInDown slower delay-5s">About</h2>
            <div class="card horizontal animated zoomIn slower delay-5s">
                <div class="card-image">
                    <img class="mr-3 Selfie" src="/img/Pic of Myself JBA.jpg" alt="Pic of Myself" width="250px" height="300px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p align="justify" class="flow-text">Hi there! My name is Jeric, I live in Roseville, CA. I studied Medical Laboratory Science for 4 years and got a degree out of it. <br><br>In 2013, I worked for my California Clinical Laboratory Science License to practice my profession and as of this time, I am currently working in a reference laboratory for the past 5 years. <br><br>I work with laboratory equipment to do testing and I deal with patient samples including but not limited to poo, pee and blood. For each test run, I review Quality Control materials used and verify test requests. The results I release aid the physician in the diagnosis and in the treatment of diseases.<br><br>
                            I am currently studying Web Development at UC Davis Extension Coding Bootcamp because I happen to be interested in the subject. It is all new to me and different from what I have or from what I have been doing. I am curious to know how things work and I want to challenge myself in learning Web Development.</p>
                    </div>
                    <div class="card-action">
                        <a href="/file/CV Resume JBA 20181020v1.pdf" download="CV Resume JBA" onclick="M.toast({html: 'File Downloaded! Thank You for your kind consideration. -Sincerely, JBA'})" class="btn downloadResume">Please Take a copy of my Resume</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Dum Vixi Tacui, Mortua Dulce Cano
            <a class="grey-text text-lighten-4 right" href="#!">JecoLantern ©2018</a>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>