<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Dum Vixi Tacui, Mortua Dulce Cano
            <a class="grey-text text-lighten-4 right" href="#!">JecoLantern ©2018</a>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>