<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo"><h5>Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></h5></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li><div class="user-view">
            <div class="background">
                <img src="/img/pexels-photo-1018048.jpeg" width="300px" height="160px">
            </div>
                <a href="#user"><img class="circle" src="/img/Pic of Myself JBA for Profile.jpg"></a>
                <a href="#name"><span class="grey-text text-darken-4 name">Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></span></a>
                <a href="#email"><span class="grey-text text-darken-4 email">jbayonke@hotmail.com</span></a>
            </div></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

<main>
    <div class="container">
        <h2 class="header PortfolioMe animated fadeInDown slower delay-5s">Portfolio</h2>
        <div class="row">
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/castle.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Word Guess Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Word Guess Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a word guess game. The theme is about Disney Movie Titles. It allows the user to guess the movie title with provided picture clues for assistance. The user gets 15 letter guesses. To win the game, guess all the 9 Disney Movie Titles correctly.<br><br>
                            The project is an exercise on working with Javascript.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Word-Guess-Game/wordGuessGame.html">Go to Word Guess Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Word-Guess-Game">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/dota-2-bg.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Role-Playing Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Role-Playing Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a Role Playing Game. The theme is about Defense of the Ancients 2 (DOTA 2). It allows the user to pick a Hero and fight other Heroes with a click of the Attack button. The player will not have healing options. To win the game, defeat all the other Heroes with your chosen Hero.<br><br>
                            The project is an exercise on working with JQuery and Javascript, focusing more with using JQuery.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Javascript-RPG/rolePlayingGame.html">Go to Role-Playing Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Javascript-RPG">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/Chemistry-Background.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Trivia Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Trivia Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a Trivia Game. The theme or category is Chemistry covering elements of the periodic table, and basic to intermediate level of information.<br><br>
                            The player is given a set of 20 questions in sequence. Each question has 4 multiple choices with only one correct answer per question. However, each question is timed for 20seconds to answer before proceeding automatically to the next question. Answer all 20 questions to win the Trivia Quiz Game.<br><br>
                            The project is an exercise on working with JQuery and Javascript, focusing on utilizing the timer function.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/TriviaGame/triviaGame.html">Go to Trivia Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/TriviaGame">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/giphy.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">GIFtastic<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">GIFtastic<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a dynamic web page that populates with gifs and will be called GIFtastic. It uses GIPHY API to search for gifs.<br><br>
                            The project focuses on the use of JavaScript and jQuery to change the HTML and AJAX call to get a response from the API.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/GIFtastic/giftastic.html">Go to GIFtastic!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/GIFtastic">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>               
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/bg-train-wallpaper.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Train Scheduler<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Train Scheduler<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a dynamic web page that refreshes every minute to display updated arrival times as well as upcoming trip of various trains. The user is also given the opportunity to add trains and delete trains of interest.<br><br>
                            The project focuses on the utilizing Firebase as database.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Train-Scheduler/trainScheduler.html">Go to Train Scheduler!</a></div>
                    <div class="card-action">
                        <a href="https://gi>thub.com/JecoLantern/Train-Scheduler">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/doorstep2.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Doorstep.info<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Doorstep.info<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">With this project, we intend to create, manipulate and deploy a fully functioning, mobile-first, and modern-style Real Estate website application that utilizes 3 different MLS (Multiple Listing Services) in one APIs.<br><br>Technologies Used: -Materialize.css for CSS Framework; -Javascript and JQuery; -Firebase for Data storage and User Authentication; -Bridge Interactive API and Google Maps API.<br><br><br>Contributors: -Austin S; -Troy G; -Daniel G; -Alfonso B; -Jeric A.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://jecolantern.github.io/Project-1-Doorstep.info/doorstep.info.html">Go to Doorstep.info!</a></div>
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/Project-1-Doorstep.info">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/doorstep2.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">What's My Worth?<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">What's My Worth?<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">With this project, asdshgafkjadgshkjskjdf<br><br>Technologies Used: -Materialize.css for CSS Framework; -Javascript and JQuery; -Firebase for Data storage and User Authentication; -Bridge Interactive API and Google Maps API.<br><br><br>Contributors: -Troy G; -Daniel G; -Alfonso B; -Jeric A.</p>
                    </div>
                    <div class="card-action">
                        <a href="#!">Go to What's My Worth?</a></div>
                    <div class="card-action">
                        <a href="#!">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


</main>
        
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Dum Vixi Tacui, Mortua Dulce Cano
            <a class="grey-text text-lighten-4 right" href="#!">JecoLantern ©2018</a>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>