<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo"><h5>Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></h5></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
            {{!-- <li><a href="/contact" class="nav-link">Contact</a></li> --}}
        </ul>
    </div>
</nav>

    <ul class="sidenav" id="mobile-demo">
        <li><div class="user-view">
            <div class="background">
                <img src="/img/pexels-photo-1018048.jpeg" width="300px" height="160px">
            </div>
                <a href="#user"><img class="circle" src="/img/Pic of Myself JBA for Profile.jpg"></a>
                <a href="#name"><span class="grey-text text-darken-4 name">Jeric B. Ayonke, MLS(ASCP<sup>i</sup>)<sup>CM</sup></span></a>
                <a href="#email"><span class="grey-text text-darken-4 email">jbayonke@hotmail.com</span></a>
            </div></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        {{!-- <li><a href="/contact">Contact</a></li> --}}
    </ul>

<main>
    <div class="container">
        <h2 class="header PortfolioMe animated fadeInDown slower delay-5s">Portfolio</h2>
        <div class="row">
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/magemana.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mage Manager<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mage Manager<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">A fifth edition dungeons and dragons character generator. The app aims to help new and old players to build a character of their choice. It is a complete generator that will allow players to not only store their characters but also track their stats and in the futute will allow D&D parties to host and play their enitre sessions within our app. <br><br>Technologies Used: -Bootstrap for CSS Framework; -MERN Stack; -NPM packages; -Passport for user authentication.<br><br><br>Contributors: -Troy G; -Austin S; -Jeric A.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://magemana.herokuapp.com/">Go to Mage Manager!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/project-3-magemana">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/googlebooksearch.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Google Book Search<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Google Book Search<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">The app allows the user to search a title of a book they have in mind. Using Google Books API, the app will return titles specific and related to the query of choice. The user is also able to view the titles, purchase through google as well as save individual title/result to be viewed at a later time. <br><br>The app is built using React.js. Clone locally and run 'npm start'.</p>
                    </div>
                    {{!-- <div class="card-action">
                        <a href="#!">Go to What's My Worth?</a></div> --}}
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Google-Book-Search">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/newsscrapermongo.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">News Scraper<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">News Scraper<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">Serves the latest news from Vox. Made by JecoLantern.<br><br>Technologies Used: -Express.js; -Express Handlebars; -Mongoose; -Cheerio; -Javascript</p>
                    </div>
                    <div class="card-action">
                        <a href="https://mongo-news1-jba.herokuapp.com/">Go to News Scraper Mongo!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/NewsScraper-Mongo">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/clickygame.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Clicky Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Clicky Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">The app is a memory game built using React.js. The objective of the app is to break the UI into components, manage component state and respond to user events. <br><br>Technologies Used: -Built using Create React App.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://clicky-game-dota2-jba.herokuapp.com/">Go to Clicky Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/clicky-DOTA2">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/whatsmyworth.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">What's My Worth?<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">What's My Worth?<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">With this project, the user is able to search an average price of a given item. Data searched and scraped from eBay then saved into a MySQL database which then populates the search as a listed item. Listed items can be viewed individually wherein a price graph is presented.<br><br>Technologies Used: -Materialize.css for CSS Framework; -Javascript and JQuery; -MySQL for Data storage; -NPM scraper for data searching and scraping; -D3 graph chart for data presentation.<br><br><br>Contributors: -Troy G; -Daniel G; -Alfonso B; -Jeric A.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://whats-my-worth.herokuapp.com/">Go to What's My Worth?</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Whats-My-Worth">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/burger.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">La Hamburguesa (The Burger App)<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">La Hamburguesa (The Burger App)<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">
                                A full-stack web application that gives its users to make and "eat" new and/or listed varieties of burgers. Data is persisted in a MySQL database that allows its users to interact with another's submissions.<br><br>
                                <strong>Required:</strong>
                                <ul>
                                    <li>MySQL</li>
                                    <li>Node.js</li>
                                </ul>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://comer-la-hamburguesa-eatburger.herokuapp.com/">Go to La Hamburguesa on Heroku App</a></div>
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/La-Hamburguesa-The-Burger-">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/CLI-node.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Bamazon-CLI<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Bamazon-CLI<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">
                                BAmazon is a CLI app that resembles an Amazon-like storefront. The app will take in orders from the displayed list of items and deplete stock from the store's inventory. The app can track product sales across the store's departments.<br><br>
                                This project uses Node.js, MySQL as data input and storage, as well as other NPM packages to run the app.<br><br>
                                To execute from the command line, type:<br><br>
                                <ul>
                                    <li>node BamazonCustomer.js --for customer side of the app</li>
                                    <li>node BamazonManager.js --for manager side of the app</li>
                                </ul></p>
                        </div>                   
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/Bamazon">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/CLI-node.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">LIRI-Node-App<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">LIRI-Node-App<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">
                                LIRI stands for <strong>Language Interpretation and Recognition Interface</strong>. 
                                LIRI is a command line node app that takes in parameters and gives you back data.<br><br>
                                LIRI takes in the following commands:<br><br>
                                <ul>
                                    <li>my-tweets 'any twitter name</li>
                                    <li>spotify-this-song 'any song name'</li>
                                    <li>movie-this 'any movie name'</li>
                                    <li>do-what-it-says 'any name'</li>
                                </ul><br>
                                Note: If the movie or song name is more than one word, kindly put in quotation marks.<br>
                                This project uses Javascript focusing on the use of Node. Please see Screenshots folder for related images in the GitHub Repository.<br><br>
                                Required to run LIRI: -Own Keys -FS -NPM Request -NPM Twitter -NPM Node-Spotify-API<br><br>
                                For Texts: -NPM Repeat-String -NPM Longest -NPM Word-Wrap</p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/LIRI-Node-App">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/Friend-Finder.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Friend Finder<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Friend Finder<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">
                                This application is based on Node and Express that matches users based on personality test.<br><br>
                                The test contains 50 questions answerable by 1(Strongly Disagree) to 5(Strongly Agree).<br><br>
                                Note: This is a first attempt to deploy the application to Heroku.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://friend-finder-by-jecolantern.herokuapp.com/">Go to Friend Finder!</a></div>
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/FriendFinder">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="responsive-img" src="/img/doorstep2.png" width="200px" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Doorstep.info<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Doorstep.info<i class="material-icons right">close</i></span><br><br>
                            <p align="justify">With this project, we intend to create, manipulate and deploy a fully functioning, mobile-first, and modern-style Real Estate website application that utilizes 3 different MLS (Multiple Listing Services) in one APIs.<br><br>Technologies Used: -Materialize.css for CSS Framework; -Javascript and JQuery; -Firebase for Data storage and User Authentication; -Bridge Interactive API and Google Maps API.<br><br><br>Contributors: -Austin S; -Troy G; -Daniel G; -Alfonso B; -Jeric A.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://jecolantern.github.io/Project-1-Doorstep.info/doorstep.info.html">Go to Doorstep.info!</a></div>
                        <div class="card-action">
                            <a href="https://github.com/JecoLantern/Project-1-Doorstep.info">Go to GitHub Repository!</a>
                        </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/bg-train-wallpaper.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Train Scheduler<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Train Scheduler<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a dynamic web page that refreshes every minute to display updated arrival times as well as upcoming trip of various trains. The user is also given the opportunity to add trains and delete trains of interest.<br><br>
                            The project focuses on the utilizing Firebase as database.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Train-Scheduler/trainScheduler.html">Go to Train Scheduler!</a></div>
                    <div class="card-action">
                        <a href="https://gi>thub.com/JecoLantern/Train-Scheduler">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/giphy.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">GIFtastic<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">GIFtastic<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a dynamic web page that populates with gifs and will be called GIFtastic. It uses GIPHY API to search for gifs.<br><br>
                            The project focuses on the use of JavaScript and jQuery to change the HTML and AJAX call to get a response from the API.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/GIFtastic/giftastic.html">Go to GIFtastic!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/GIFtastic">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/Chemistry-Background.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Trivia Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Trivia Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a Trivia Game. The theme or category is Chemistry covering elements of the periodic table, and basic to intermediate level of information.<br><br>
                            The player is given a set of 20 questions in sequence. Each question has 4 multiple choices with only one correct answer per question. However, each question is timed for 20seconds to answer before proceeding automatically to the next question. Answer all 20 questions to win the Trivia Quiz Game.<br><br>
                            The project is an exercise on working with JQuery and Javascript, focusing on utilizing the timer function.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/TriviaGame/triviaGame.html">Go to Trivia Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/TriviaGame">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/dota-2-bg.jpg" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Role-Playing Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Role-Playing Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a Role Playing Game. The theme is about Defense of the Ancients 2 (DOTA 2). It allows the user to pick a Hero and fight other Heroes with a click of the Attack button. The player will not have healing options. To win the game, defeat all the other Heroes with your chosen Hero.<br><br>
                            The project is an exercise on working with JQuery and Javascript, focusing more with using JQuery.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Javascript-RPG/rolePlayingGame.html">Go to Role-Playing Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Javascript-RPG">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 xl4">
                <div class="card sticky-action animated fadeInUp slower delay-5s">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/img/castle.png" width="200px" height="200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Word Guess Game<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Word Guess Game<i class="material-icons right">close</i></span><br><br>
                        <p align="justify">This project is a word guess game. The theme is about Disney Movie Titles. It allows the user to guess the movie title with provided picture clues for assistance. The user gets 15 letter guesses. To win the game, guess all the 9 Disney Movie Titles correctly.<br><br>
                            The project is an exercise on working with Javascript.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://jecolantern.github.io/Word-Guess-Game/wordGuessGame.html">Go to Word Guess Game!</a></div>
                    <div class="card-action">
                        <a href="https://github.com/JecoLantern/Word-Guess-Game">Go to GitHub Repository!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


</main>
        
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Dum Vixi Tacui, Mortua Dulce Cano
            <a class="grey-text text-lighten-4 right" href="#!">JecoLantern ©2018</a>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>