body {
    background-image: url("../img/xv.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #1c486b;
    color: #ffffff !important;
    font-size: 1.5rem;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 0 0 0;
    height: 100%;
    text-align: center;

}

.AboutMe, .PortfolioMe, .ContactMe {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1c486b;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.1875rem solid #0d7a6d;
    padding: 1rem 1rem 1.25rem 1rem;
    width: 100%;
    background: #ffffff;
}

.ConnectWithMe {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1c486b;
    font-size: 1rem !important;
    font-weight: bold !important;
    text-align: center;
    border-bottom: 0.1875rem solid #0d7a6d;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 100%;
    background: #ffffff;
}
.connectWMe {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.cardContentConnectWithMe {
    padding: 0 !important;
}
.cardActionConnectWithMe {
    border-top: 0 !important;
}

.GitHubIcon {
    margin-left: 0.5rem;
}
form {
    background: white;
    margin-top: -1.6rem;
}
.btn {
    background-color: #1c746b !important;
}
.start_button {
    background-color: #1c746b !important;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-left: 32rem;
    font-size: 2rem;
    font-weight: bold;
    width: 25rem;
}

h5 {
    font-weight: bolder;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1rem;
    font-weight: bold;
}

.nav-wrapper {
    background: #e0e4ed;
    border: #cccccc;
}

.page-footer {
    padding-top: 0;
    border-top: 0.25rem solid #0d7a6d;
    background: #1c486b;
}

nav a {
    color: #777777;
}

.name, .email {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    font-size: 1rem !important;
}

.err404 {
    margin-top: 13rem;
    width: 80%;
    border: 3px solid #1c486b;
}
  
.err404msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #0d7a6d;
    text-align: center;
    text-shadow:
    -1px -1px 0  white,
    1px -1px 0  white,
    -1px 1px 0  white,
    1px 1px 0  white;
}
  
.back2home {
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    nav .brand-logo {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }
    h5 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .start_button {
        margin-left: 12rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
        font-size: 2rem;
        font-weight: bold;
        width: 25.75rem;
    }
}

@media only screen and (max-width: 768px){
    .start_button {
        margin-left: 9rem;
        width: 18.75rem
    }
}

@media only screen and (max-width: 640px) {
    nav .brand-logo {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }
    h5 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .Selfie {
        max-width: 100%;
        height: auto;
    }
    .start_button {
        width: 14.75rem;
        margin-left: 1.625rem;
        font-size: 1rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .downloadResume {
        font-size: 0.3rem;
        width: 10rem;
    }
}

@media only screen and (min-width: 960px) {
    .flow-text {
        font-size: 1.5rem;
    }
}